/* Basic initialize CSS at browser */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body a {
    text-decoration: none;
}

body a:hover{
        text-decoration: none;
        background: none;
}
body a:visited{
    color: inherit;
}
/* Basic initialize CSS at browser End*/
@font-face {
	font-family: 'AppleSDGothicNeoR';
	src: url('/Users/soonhojang/Documents/myProject/front-end/AppleSDGothicNeoL.woff') format('woff')
  }
  @font-face {
	font-family: 'AppleSDGothicNeoM';
	src: url('/Users/soonhojang/Documents/myProject/front-end/AppleSDGothicNeoM.woff') format('woff')
  }
  @font-face {
	font-family: 'AppleSDGothicNeoL';
	src: url('/Users/soonhojang/Documents/myProject/front-end/AppleSDGothicNeoR.woff') format('woff')
  }
  @font-face {
	font-family: 'AppleSDGothicNeoB';
	src: url('/Users/soonhojang/Documents/myProject/front-end/AppleSDGothicNeoB.woff') format('woff')
  }

@media screen and (max-width: 450px){
    html, body{
		height: 100%;
	}
	body{
		display: flex;
  		flex-direction: column;
	}
	.contents{
		flex: 1 0 auto;
	}
	.sticky-container{
		flex-shrink: 0;
    }
    
    #title-name{
		height: 40px;
		background: #343434;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#title-img{
		height:21px;
    }
    .flex-row-left{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .flex-row-right{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .flex-row-spacebetween{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .flex-row-spacearound{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .flex-column-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .flex-row-center{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .payment-title{
        color:#333;
        font-size: 20px;
        font-family: 'AppleSDGothicNeoB';
        margin-left: 13px;
        margin-top: 24px;
        margin-bottom: 13px;
    }
    .member-card{
        height: 46px;
        font-family:'AppleSDGothicNeoM';
    }
    .member-card img{
        margin-left: 13px;
        margin-right: 13px;
    }
    .member-name{
        font-size: 12px;
        margin-right: 26px;
        color:#333;
    }
    .member-price{
        font-size: 12px;
        color:#333;
    }
    .member-btn{
        background: #00d887;
        color: #fff;
        font-size: 12px;
        margin-right: 13px;
        height: 22px;
        width: 68px;
    }
    .member-contents{
        margin: 6px 0;   
    }
    .vertical{
        width: 100vw;
        height: 4px;
        background: #e6e6e6;
        margin-top: 16px;
    }
    .pie-container{
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .summary-contents{
        display: flex;
    }
    .summary-math{
        width: 100%;
        font-size: 12px;
        margin-right: 13px;
    }
    .summary-img > img{
        margin-left: 13px;
        margin-right: 13px;
    }
    .summary-name{
        margin-bottom: 11px;
    }
    .tag-name{
        height: 12px;
		width: 42px;
		font-size: 9px;
		text-align: center;
		background: #00d887;
		color: #fff;
		border-radius: 20px;
        padding-top: 3px;
        margin-right: 6px;
    }
    .vertical-sm{
        width: 92px;
        height: 1px;
        background: #e6e6e6;
        margin-top: 10px;
    }
    .endprice-contents{
        width: 92px;
        margin-top: 4px;
        font-size: 12px;
    }
    .endprice-container{
        margin-right: 13px;
    }
    .price-1st{
        width: 92px;
    }
    .price-1st:first-child{
        font-size: 12px;
    }
    .each-price-row{
        margin-bottom: 5px;
    }
    .summary-card{
        margin-bottom: 64px;
    }
    .copyright{
		margin-bottom: 10px;
		text-align: center;
		font-size: 7px;
		color: #333;
		letter-spacing: -0.5px;
    }
    
    .member-btn.flex-row-center.active{
        background: #ccc;
    }
}